<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Tests for jquery-qtip2-rails</h2>

<li><div id="title" title="title">title</div></li>

<li><div id="no_title">no_title</div></li>

<li><div id="qtip-rounded">qtip-rounded</div></li>

<li><div id="qtip-bootstrap">qtip-bootstrap</div></li>

<li><div id="qtip-shadow-rounded">qtip-shadow qtip-rounded</div></li>
